@import "sass-breakpoints";
@import "sass-spacing";

.skill-list {

  &__item {

    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 100%;

    @include breakpoint(md) {
      width: 50%;

      &:nth-child(odd) {
        @include pr(2);
      }

      &:nth-child(even) {
        @include pl(2);
      }

    }

  }

}

/* ========================================================================== */

.skill__trigger {
  cursor: pointer;
}

.skill__content {

  overflow: hidden;
  max-height: 15em;
  transition: max-height 0.5s;
  color: #444;

  &--collapsed {
    max-height: 0;
  }

  & p {
    margin: 0.7em 0;
  }

}

/* ========================================================================== */

.progress {
  background: #ccc;

  &__value {
    border: 2px solid #b3846b;
  }

}
