@import "sass-spacing/index.css";

/* START: reset styles */

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* END: reset styles */

/* START: global styles */

body {
  color: #444;
  background-color: #ddd;
  font-family:
    Trebuchet MS,
    Lucida Grande,
    Lucida Sans Unicode,
    Lucida Sans,
    Tahoma,
    sans-serif
  ;
}

/* END: global styles */

/* START: utility styles */

.text-center {
  text-align: center;
}

.text-xs {
  font-size: 0.8rem;
}

.text-sm {
  font-size: 0.9rem;
}

/* ========================================================================== */

.main-content {
  overflow: hidden;
  background-color: #fff;
}

.container {
  margin: auto;
  max-width: 1024px;
}

/* END: utility styles */
