
.about-me {
  position: relative;
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  border-bottom: 4px dashed #bbb;
}

.about-me__image {

  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-image: url(https://www.gravatar.com/avatar/fe5770beeac30b66be035034cb95dbda?size=200);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(https://www.gravatar.com/avatar/fe5770beeac30b66be035034cb95dbda?size=400);
    background-size: contain;
  }

}

.about-me__summary {
  max-width: 30em;
  line-height: 1.25rem;
}

.about-me__country {
  font-size: 1.75rem;
  vertical-align: middle;
}

.about-me__employer {
  color: #009623;
  transition: color 0.25s;
  &:hover {
    color: darken(#009623, 4%);
  }
}

.about-me__community { //TODO: refactor links
  color: #bbb;
  transition: color 0.25s;
  text-decoration: none;
  vertical-align: bottom;
  &:hover {
    color: darken(#bbb, 4%);
  }
}

.about-me__scroll-prompt {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  color: #bbb;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.25s;

  &:hover {
    color: #999;
  }

}
